/*-- Confugirações Globais --*/
* {
    font-family: "Teko", serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    color: #eee;
    font-size: 1.1rem;
    font-weight: lighter;
}

/*-- HEADER --*/
/*-- Container do Cabeçalho --*/
header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    z-index: 5;
    position: relative;
    
}

/*-- Container do menu principal de navegação --*/
header nav {
    width: 80%;
    margin: auto;
    display: flex;
    gap: 30px;
    justify-content: flex-end;

}

/*-- Links individuais do menu principal de navegação --*/
header nav a {
    font-weight: lighter;
    letter-spacing: 1px;
    position: relative;

}

/*-- elemento que cria o Risquinho animado que passa em baixo de cada link do menu --*/
header nav a::before {
    width: 0%;
    height: 2px;
    background-color: #eee;
    position: absolute;
    content: "";
    bottom: 5px;
    right: 0;
}

/*-- animação do Risquinho que acontece quando passa o mouse --*/
header nav a:hover::before {
    width: 100%;
    transition: 0.7s;
}

/*-- MAIN --*/
/*-- Container geral que estão todos os elementos do Main e que gerencia o fundo animado --*/
.container {
    width: 100vw;
    height: 100vh;
    margin-top: -50px;
    position: absolute;
    overflow: hidden;
    background-color: #000;   
}

/*-- Container que orgiza todos os itens --*/
.lista-itens {
    background-color: #00000046;
    width: 100vw;
    height: 100vh;
}

/*-- Container de cada cidade --*/
.item {
    position: absolute;
    display: none;
    opacity: 0;
}

/*-- Imagem de fundo com a foto da cidade --*/
.item img {
    filter: brightness(50%);
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/*-- Container que Organiza os textos da capa com nome e descrição da cidade --*/
.item .texto {
    position: absolute;
    top: 120px;
    left: 120px;
    width: 400px;
    margin: auto;
}

/*-- Estilização do Nome da Cidade --*/
.item .texto h1 {
    font-size: 3.5rem;
    font-weight: bolder;
    text-shadow: 3px 3px 5px #000;
}

/*-- Estilização da descrição da Cidade --*/
.item .texto p {
    font-size: 1rem;
    line-height: 1.1rem;
    text-shadow: 3px 3px 5px #000;
}

/*-- Container que Organiza os botões da capa --*/
.item .buttons {
    margin-top: 20px;
    display: flex;
    width: 300px;
    gap: 10px;
}

/*-- Estilização dos botões da capa --*/
.item .buttons button {
    width: 50%;
    flex-grow: 1;
    color: #eee;
    background-color: transparent;
    border: 2px solid #eee;
    cursor: pointer;
    box-shadow: 3px 3px 10px #000;
}

/*-- Estilização da animação quando passa o mouse nos botões --*/
.item .buttons button:hover {
    color: #000;
    background-color: #eee;
    transition: 0.5s;
}

/*-- Container que Organiza as miniaturas das cidades --*/
.lista-miniaturas {
    z-index: 2;
    display: flex;
    gap: 20px;
    width: 40%;
    height: 150px;
    position: absolute;
    bottom: 50px;
    right: 140px;
    flex-basis:auto
}

/*-- Container que Organiza a miniatura com a Imagem e o Nome da cidade --*/
.miniatura {
    cursor: pointer;
    width: 25%; 
}

/*-- Animação que acontece quando passa o Mause sobre a miniatura --*/
.miniatura:hover {
    scale: 1.07;
    transition: 0.5s;
}

/*-- Estilização da imagem da miniatura --*/
.miniatura img {
    height: 120px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    filter: brightness(80%);
    box-shadow: 2px 2px 5px #000;

}

/*-- Estilização do nome da cidade abaixo da miniatura --*/
.miniatura h2 {
    text-align: center;
    font-weight: bolder;
    text-shadow: 3px 3px 5px #000;
}

/*-- Estilização Criada para gerenciar o item ativo via JS --*/
.itemAtivo {
    opacity: 1;
    display: block;
}

/*-- Estilização Criada para gerenciar a miniatura ativa via JS --*/
.miniaturaAtiva {
    scale: 1.07;
    transition: 0.8s;
}

/*-- Configuração de Layout resposivo para telas de até 700px --*/
@media (max-width: 700px) {

    /*-- HEADER --*/
    /*-- Container do Cabeçalho --*/
    header {}

    /*-- Container do menu principal de navegação --*/
    header nav {}

    /*-- Links individuais do menu principal de navegação --*/
    header nav a {}

    /*-- elemento que cria o Risquinho animado que passa em baixo de cada link do menu --*/
    header nav a::before {}

    /*-- animação do Risquinho que acontece quando passa o mouse --*/
    header nav a:hover::before {}

    /*-- MAIN --*/
    /*-- Container geral que estão todos os elementos do Main e que gerencia o fundo animado --*/
    .container {}

    /*-- Container que organiza todos os itens --*/
    .lista-itens {}

    /*-- Container que organiza cada item --*/
    .item {
        height: 100vh;
    }

    /*-- Imagem de fundo com a foto da cidade --*/
    .item img {}

    /*-- Container que Organiza os textos da capa com nome e descrição da cidade --*/
    .item .texto {
        display: flex;
        flex-direction: column;
        padding: 20px;
        top: 80px;
        left: 0px;
        width: 100vw;
    }

    /*-- Estilização do Nome da Cidade --*/
    .item .texto h1 {
        text-align: center;
    }

    /*-- Estilização da descrição da Cidade --*/
    .item .texto p {
        text-align: center;
    }

    /*-- Container que Organiza os botões da capa --*/
    .item .buttons {
        width: 100%;
    }

    /*-- Estilização dos botões da capa --*/
    .item .buttons button {}

    /*-- Estilização da animação quando passa o mouse nos botões --*/
    .item .buttons button:hover {}

    /*-- Container que Organiza as miniaturas das cidades --*/
    .lista-miniaturas {
        gap: 10px;
        width: 100%;
        bottom: 80px;
        right: 0px;
        justify-content: center;
    }

    /*-- Container que Organiza a miniatura com a Imagem e o Nome da cidade --*/
    .miniatura {
        width: 20%; 
    }

    /*-- Animação que acontece quando passa o Mause sobre a miniatura --*/
    .miniatura:hover {}

    /*-- Estilização da imagem da miniatura --*/
    .miniatura img {
        height: 100px;
    }

    /*-- Estilização do nome da cidade abaixo da miniatura --*/
    .miniatura h2 {
        font-size: 1rem;
        font-weight: lighter;
        text-shadow: 3px 3px 10px #000;
    }
    
}



